<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Ticket Booking System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Online Ticket Booking System</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <hr>
            
            <p>&copy; {% now "Y" %} Online Ticket Booking. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
