<!-- events.html -->

{% extends 'booking/base.html' %}

{% block title %}Events List - {{ block.super }}{% endblock %}

{% block content %}

    <h2>Events List</h2>
    <ul>
        {% for event in events %}
            <li>
                <strong>{{ event.name }}</strong><br>
                Description: {{ event.description }}<br>
                Date: {{ event.date }}<br>
                Price: ${{ event.price }}<br>
                <button onclick="bookTicket({{ event.id }})">Buy Tickets</button>
            </li>
            <br>
        {% empty %}
            <li>No events available.</li>
        {% endfor %}
    </ul>
{% endblock %}

